body { 
    font-family: Arial, sans-serif; text-align: center; 
}

.container { 
    display: flex; justify-content: center; gap: 20px; margin-top: 50px; 
}

.quadrado { 
    padding: 20px; border: 1px solid #ccc; width: 250px;
 }

input { 
    width: 100px; text-align: center; font-size: 18px;
 }