
.dropdown::-webkit-scrollbar {
    width: 6px;
}
.dropdown::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 10px;
}


.dropdown {
    background: #1e293b;
    border: 1px solid #334155;
    border-radius: 12px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


.custom-input:focus {
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.1);
}